/*
---------------------------------------
entry
---------------------------------------
*/

#entry {
	background: #f8f8f8;
	padding: 160px 0 200px;

	@include sp {
		padding: 7vw 0 10vw;
	}
}

.form_complete {
	.btn-01 {
		text-align: center;
	}
}
