@charset "utf-8";
//news

#single_news {
    padding: 90px 0 120px;

    @media (max-width: $viewport) {
        padding: 15vw 0 15vw;
    }

    .inner {
        width: 980px;
        margin: 0 auto 60px;

        @media (max-width: $viewport) {
            width: 88vw;
            margin: 0 auto 10vw;
        }
    }

    .title {
        font-size: 22px;
        font-weight: bold;
        line-height: 1.5;
        padding: 0 0 10px;
        border-bottom: 1px solid $base;
        margin: 0 0 30px;

        @media (max-width: $viewport) {
            font-size: 4.8vw;
            padding: 0 0 2vw;
            margin: 0 0 4vw;
        }
    }
}

#archive_news {
    padding: 90px 0 120px;

    @media (max-width: $viewport) {
        padding: 15vw 0 15vw;
    }

    .inner {
        width: 980px;
        margin: 0 auto 60px;

        @media (max-width: $viewport) {
            width: 88vw;
            margin: 0 auto 10vw;
        }

        .box {
            .title {
                font-size: 20px;
                font-weight: bold;
                line-height: 1.5;
                margin: 0 0 20px;
            }

            p {
                font-size: 16px;
                line-height: 1.8;
            }
        }
    }
 }

.information {
    margin: 0 0 20px;

    .label {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        color: white;
        background: $cc;
        height: 27px;
        padding: 0 16px;
        margin: 0 0 10px;

        @media all and (-ms-high-contrast: none) {
            padding: 6px 16px 0;
        }

        @media (max-width: $viewport) {
            height: 6vw;
            font-size: 3.3vw;
            margin: 0 0 2vw;
        }
    }

    .date {
        display: block;
        font-size: 18px;
        font-weight: bold;
        color: $cc;

        @media (max-width: $viewport) {
            font-size: 4vw;
        }
    }

    #archive_news & {
        display: flex;
        display: -ms-flex;
        align-items: center;

        @media (max-width: $viewport) {
            display: block;
        }

        .date {
            margin: 0 10px 0 0;
            position: relative;
            top: -6px;
        }
    }
}

.post_links {
    overflow: hidden;
    width: 360px;
    margin: 0 auto;
    //padding: 20px 0;
    position: relative;
    min-height: 46px;


    @media (max-width: $viewport) {
        width: 80vw;
        min-height: 10vw;
    }

    a {
        display: block;
        transition: all .5s;

        &:hover {
            opacity: .5;

            @media screen and (max-width: $viewport) {
                opacity: 1;
            }
        }
    }

    a[rel="prev"] {
        display: block;
        width: 46px;
        height: 46px;
        background-image: url(../images/news/btn_pre.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: left top;
        text-indent: -9999px;
        float: left;

        @media (max-width: $viewport) {
            width: 10vw;
            height: 10vw;
        }

        img {
            width: 46px;
            height: 46px;

            @media (max-width: $viewport) {
                width: 100%;
                height: auto;
            }
        }
    }

    a[rel="next"] {
        display: block;
        width: 46px;
        height: 46px;
        background-image: url(../images/news/btn_next.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: left top;
        text-indent: -9999px;
        float: right;

        @media (max-width: $viewport) {
            width: 10vw;
            height: 10vw;
        }

        img {
            width: 46px;
            height: 46px;

            @media (max-width: $viewport) {
                width: 100%;
                height: auto;
            }
        }
    }

    a.more {
        display: block;
        width: 112px;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 10px;

        @media (max-width: $viewport) {
            width: 24.6vw;
            position: absolute;
            margin: auto;
            left: 0;
            right: 0;
            top: 2vw;
        }

        img {
            width: 112px;
            height: 25px;

            @media (max-width: $viewport) {
                width: 24.6vw;
            }
        }
    }
}