
@media print{
	body.single-case{
		font-size:2vw;
		line-height:1.5;
		header{
			display:none;
		}
		/*.ttl_page_simple{
			display:none;
			padding:1em;
			box-sizing:border-box;
			height:auto;
			img{
				width:20%;
			}
		}*/
		.wrap_recruit{
			padding:0;
			margin:0;
			.wrap_case{
				padding:0;
				width:100%;
				box-sizing:border-box;
				#case{
					width:100%;
					max-width:none;
					& > .inner{
						& > .primary{
							.lead{
								font-size:1em;
							}
							.data.narrow{
								width:calc(100% - 450px);
							}
						}
						#btn_requirements{
							display:none;
						}
						#requirements{
							.acf-map{
								position:relative;
								height:40vw!important;
								iframe{
									position:absolute;
									top:0;
									left:0;
									width:100%;
									height:100%;
								}
							}
							#mapurl{
								display:none;
							}
						}
						#btn_entry{
							display:none;
						}
					}
					#historyback{
						display:none;
					}
				}
			}
		}
		footer{
			display:none;
		}
		.cv_top,
		#pagetop{
			opacity:0;
			display:none!important;
		}
	}
}